.panel-body {
  background: #fff;
}

.cover-photo {
  position: relative;
}

.socialApp-timeline-img img {
  width: 100%;
  height: auto;
  max-height: 280px;
  -webkit-border-radius: 4px 4px 0 0;
  border-radius: 4px 4px 0 0;
}

.profile-thumb img {
  width: 140px;
  height: 140px;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  margin-top: -90px;
  border: 3px solid #fff;
}

.profile-info .panel-footer ul li a {
  color: black;
}

.profile-thumb {
  float: left;
  position: relative;
}

.p-text-area,
.p-text-area:focus {
  border: none;
  font-weight: 300;
  box-shadow: none;
  color: #c3c3c3;
  font-size: 16px;
}

.socialAPP-user-mail {
  margin: 22px 0 0 0px;
  display: inline-block;
}

.socialAPP-name {
  bottom: -10px;
  left: 145px;
  position: absolute;
}

.followData {
  bottom: -30px;
  left: 130px;
  position: absolute;
}

.form-control:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.avatar {
  width: 35px;
  height: 35px;
  object-fit: cover;
}

.timelineWidth {
  max-width: 680px;
}

nav li p {
  cursor: pointer;
}

.statusAction button {
  font-size: 13px;
}

.commentsContainer {
  background-color: rgba(246, 247, 232, 0.986);
}

.commentsContainer p {
  font-size: 15px;
  padding: 5px;
  margin-left: 20px;
}

.commentsContainer small {
  font-weight: 700;
  padding-left: 20px;
}

.followerContainer {
  display: flex;
  gap: 20px;
  padding: 15px;
  color: grey;
  margin-bottom: 10px;
}

.userName i{

cursor: pointer;
font-size: 20px;

}
